<aside class="sidebar">
  <a class="logo" routerLink="/">
    <img src="logo.png" class="logo-full" alt="Oferta Games" />
  </a>

  <nav class="nav-section">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
      <img class="nav-icon" src="home.png" alt="Início" /> Início
    </a>
    <a routerLink="/catalogo" routerLinkActive="active" class="nav-item">
      <img class="nav-icon" src="catalogo.png" alt="Catálogo" /> Catálogo
    </a>
    <a routerLink="/mais-vendidos" routerLinkActive="active" class="nav-item">
      <img class="nav-icon" src="mais-vendidos.png" alt="Mais Vendidos" /> Mais Vendidos
    </a>
    <a routerLink="/gratuitos" routerLinkActive="active" class="nav-item">
      <img class="nav-icon" src="gratuito.png" alt="Gratuitos" /> Gratuitos
    </a>
  </nav>

  <div class="nav-label">BIBLIOTECA</div>
  <nav class="nav-section">
    <a routerLink="/monitorados" routerLinkActive="active" class="nav-item">
      <img class="nav-icon" src="jogos-monitorados.png" alt="Jogos Monitorados" /> Jogos Monitorados
    </a>
  </nav>

</aside>
