DATABASE_URL=postgresql://usuario:senha@host:6543/postgres?sslmode=require
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_ANON_KEY=sua-chave-anonima
ITAD_API_KEY=sua-chave-itad
STEAM_WEB_API_KEY=sua-chave-web-api-da-steam
FRONTEND_URL=http://localhost:4200
PUBLIC_BACKEND_URL=http://localhost:8080
SYNC_SECRET_KEY=sua-chave-sync
APP_SYNC_SCHEDULER_ENABLED=false
APP_SYNC_SCHEDULER_PRICE_DELAY_MS=600000
APP_SYNC_SCHEDULER_STEAM_DELAY_MS=900000
CORS_ALLOWED_ORIGINS=http://localhost:4200,https://seu-front.vercel.app
PORT=8080
